<div style="text-align:center">
    <img src="/Images/shrek.png" style="width:8rem;height:8rem;" />
</div>
<br />
<p class="text-center dark-theme-texts" mt-5 p-3 lead>
    Lütfen Ip Koruyucunuzu Kapatınız <br />
    <br />
    <a asp-action="Index" asp-controller="Home" asp-area=""
       class="btn dark-theme-texts n">Anasayfa'ya Dön</a>
</p>
<style>
    .dark-theme-texts {
        color: rgb(223,223,223);
    }

    .n {
        background-color: #495057;
        border-color: #b5a800;
    }

        .n:hover {
            color: #b5a800;
        }
</style>